@model List<Product>

@{
    ViewData["Title"] = "Products";
}
<div class="mt-3 mx-3">
    <a class="btn btn-primary " asp-controller="Product" asp-action="CreateProduct">Create
        Product</a>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>@item.Image</tr>
            <tr>@item.Name</tr>
            <tr>@item.Price</tr>
            <tr>@item.Name</tr>
            <tr>
                <a class="btn btn-info mx-3 col-md-4" asp-action="EditProduct" asp-route-id="@item.Id">Edit</a>

                <a class="btn btn-warning mx-2 col-md-4" asp-action="DeleteProduct" asp-route-id="@item.Id">Delete</a>

            </tr>
        }
    </tbody>
</table>