@model Fantasia.Mvc.Models.SizeListSize
@{
    ViewData["Title"] = "Sizes";
}
<div class="row mx-3 mt-3">
    <div class="col-md-6">
        <form asp-action="CreateSize" enctype="multipart/form-data" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6 row-md-6 ">
                <label class="control-label">الاسم</label>
                <input asp-for="@Model.Size.Name" class="form-control" />
                <span asp-validation-for="@Model.Size.Name" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="أضافة" class="btn btn-primary" />
                <a class="btn btn-secondary mx-3" asp-action="GetSizes">القياسات</a>
            </div>

        </form>
    </div>
    @* <div class="mt-3 mx-3">
    <a class="btn btn-primary " asp-controller="Category" asp-action="CreateCategory">أضافة قسم جديد</a>
    </div> *@
    <div class="row mx-3 my-5">
        <hr style="color: black; font-weight: 100;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">الاسم</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sizes)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a class="btn btn-warning mx-3 col-md-2 " asp-action="EditSize"
                                asp-route-id="@item.Id">تعديل</a>

                            <a class="btn btn-danger mx-3 col-md-2" asp-action="DeleteSize" asp-route-id="@item.Id">حذف</a>

                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}